.title1 {
    margin: 50px 0;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Epilogue';
    color: #FC8019;
}

.aboutsarawak {
    position: relative;
    height: 800px;
    border-bottom: 3px solid #FC8019;
}

.background {
    background-color: #FFBC80;
    height: 300px;
}

.sarawakimg {
    position: absolute;
    top: 10%;
    left: 5%;
}

#sarawakimg {
    width: 650px;
    border-radius: 20px;
    box-shadow: 0px 5px 7px 5px #af9898;
}

.intro {
    position: absolute;
    bottom: 2%;
    right: 6%;
    width: 550px;
    font-family: 'Poppins';
}

.intro h3 {
    line-height: 36px;
}

.title2 {
    text-align: right;
    margin: 50px 0;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Epilogue';
    color: #FC8019;
}

.aboutme {
    position: relative;
    height: 850px;
}

.myimg {
    position: absolute;
    right: 5%;
    top: 15%;
}

#myimg {
    width: 650px;
    border-radius: 20px;
    box-shadow: 0px 5px 7px 5px #af9898;
}

.myintro {
    position: absolute;
    bottom: 0%;
    left: 15%;
    font-family: 'Poppins';
    padding: 30px 50px;
}

@media screen and (max-width: 800px) {

    .background {
        height: 260px;
    }

    .aboutsarawak {
        height: 750px;
    }

    #sarawakimg {
        width: 550px;
    }

    .intro {
        width: 430px;
    }

    .intro h3 {
        font-size: 18px;
        line-height: 33px;
    }

    .aboutme {
        height: 750px;
    }

    #myimg {
        width: 550px;
    }

}

@media screen and (max-width:600px) {

    .title1 {
        font-size: 14px;
        margin: 30px 0px;
    }

    .aboutsarawak {
        height: 700px;
    }

    #sarawakimg {
        width: 450px;
    }

    .title2 {
        font-size: 14px;
        margin: 30px 0px;
    }

    .aboutme {
        height: 700px;
    }

    #myimg {
        width: 450px;
    }

}

@media screen and (max-width:480px) {

    .title1 {
        font-size: 14px;
        margin: 30px 0px;
    }

    .aboutsarawak {
        height: 650px;
    }

    .background {
        height: 200px;
    }

    #sarawakimg {
        width: 350px;
    }


    .intro {
        width: 350px;
    }

    .intro h3 {
        font-size: 16px;
        line-height: 30px;
    }

    .title2 {
        font-size: 14px;
        margin: 30px 0px;
    }

    .aboutme {
        height: 600px;
    }

    #myimg {
        width: 350px;
    }

    .myintro h3 {
        font-size: 16px;
    }

}

@media screen and (max-width:400px) {

    .title1 {
        font-size: 12px;
        margin: 30px 0px;
    }

    .aboutsarawak {
        height: 550px;
    }

    .background {
        height: 150px;
    }

    #sarawakimg {
        width: 250px;
    }


    .intro {
        width: 250px;
    }

    .intro h3 {
        font-size: 13px;
        line-height: 28px;
    }

    .title2 {
        font-size: 12px;
        margin: 30px 0px;
    }

    .aboutme {
        height: 500px;
    }

    #myimg {
        width: 250px;
    }

    .myintro h3 {
        font-size: 13px;
    }

}