.intro {
    background-color: #FFF8E5;
    display: flex;
    padding: 10px 0px 60px 20px;
}

#introduce {

    align-items: center;
}

#intro1 {
    margin: 20px 0px 0px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
}

#intro2 {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    color: #FC8019;
}

#introp {
    font-family: 'Open Sans';
    font-size: 20px;
}

#introimg {
    width: 800px;
    margin-left: 30px;
}

.travel {
    background-color: #FC4F4F;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#traword {
    font-family: 'Open Sans';
    font-size: 25px;
    color: #FFF8E5;
    margin: 0;
}

#img {
    background-color: #a5d7d8;
}

.img {
    height: 1080px;
    background-image: url("../assignment1_img/swk2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#ppl1 {
    background-color: #FFF8E5;
    margin: 0;
    font-family: 'Poppins';
}

.popular1 {
    display: flex;
    justify-content: space-around;
}

.place {
    display: flex;
    flex-direction: column;
}

.place p {
    text-align: center;
}

.placeimg {
    border-radius: 100px;
    width: 170px;
    height: 170px;
    box-shadow: 0px 2px 2px 2px #9b9898;
}

.ppltitle {
    margin-left: 50px;
}

#ppl2 {
    background-color: #FFF8E5;
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Poppins';
}

.popular2 {
    display: flex;
    justify-content: space-around;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 2px #9b9898;
    padding: 25px;
    background-color: #FFBC80;
    width: 256px;
    height: 430px;
}

.foodimg {
    width: 256px;
    height: 256px;
    border-radius: 20px;
}

.foodp {
    margin: 0;
    width: 256px;
}

@media screen and (max-width:1200px) {

    .intro {
        flex-direction: column;
    }

    #introduce {
        width: 100%;
    }

    #introduce #intro1 {
        font-size: 34px;
    }

    #introduce #intro2 {
        font-size: 34px;
    }

    #introduce #introp {
        font-size: 14px;
    }

    #introimg {
        width: 400px;
    }

    .img {
        height: 600px;
    }

    .ppltitle {
        font-size: 20px;
    }

    .popular1 {
        flex-wrap: wrap;
    }

    .place {
        align-items: center;
        width: 33.33%;
    }

    .placeimg {
        width: 85px;
        height: 85px;
    }

    .placep {
        font-size: 10px;
    }

    .popular2 {
        flex-wrap: wrap;
    }

    .food {
        width: 30%;
        height: auto;
        margin: 10px;
    }

    .foodimg {
        width: 128px;
        height: 128px;
    }

    .foodh3 {
        font-size: 17px;
    }

    .foodp {
        font-size: 10px;
        width: auto;
    }
}

@media screen and (max-width:480px) {

    #introimg {
        margin: 0;
        width: 300px;
    }

    #traword {
        font-size: 20px;
    }

    .img {
        height: 400px;
    }

    .ppltitle {
        font-size: 13px;
    }

    .food {
        margin: 10px;
    }

    .foodimg {
        width: 96px;
        height: 96px;
    }

    .foodh3 {
        font-size: 13px;
    }

    .foodp {
        font-size: 7px;
        width: auto;
    }
}

@media screen and (max-width:350px) {
    #introimg {
        width: 250px;
    }

    #introduce #intro1 {
        font-size: 24px;
    }

    #introduce #intro2 {
        font-size: 24px;
    }

    #introduce #introp {
        font-size: 9px;
    }

    #traword {
        font-size: 13px;
    }
}