.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    border: none;
    border-radius: 10px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    font-family: 'Poppins';
    padding: 10px;
}

.place {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    display: none;
}

.placeimg {
    width: 450px;
    height: 480px;
}

.intro {
    width: 800px;
    font-family: 'Poppins';
}

.introh1 {
    margin-bottom: 30px;
}

.introp {
    line-height: 30px;
}

.placeicon {
    width: 60px;
    height: 60px;
    margin: 20px;
}

.place:nth-child(1) {
    display: flex;
}

.place:nth-child(2),
.place:nth-child(4),
.place:nth-child(6) {
    border-bottom: 5px solid #FC8019;
    padding-bottom: 20px;
}

#load {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 10px 30px;
    font-size: 17px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    cursor: pointer;
}

button:hover {
    background-color: #FC8019;
}

@media screen and (max-width:1300px) {

    .placeimg {
        width: 400px;
        height: 430px;
    }
}

@media screen and (max-width:1200px) {

    .place:nth-child(1),
    .place:nth-child(3),
    .place:nth-child(5),
    .place:nth-child(7) {
        flex-direction: column;
    }

    .place:nth-child(2),
    .place:nth-child(4),
    .place:nth-child(6),
    .place:nth-child(8) {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 800px) {

    .intro {
        width: auto;
        padding: 15px;
    }

    .introh1 {
        font-size: 24px;
    }

    .introp {
        font-size: 15px;
        line-height: 27px;
    }

    button {
        width: 110px;
        padding: 8px 18px;
        font-size: 14px;
    }

}

@media screen and (max-width:480px) {


    #title {
        width: 130px;
        font-size: 15px;
        padding: 5px;
    }

    .placeimg {
        width: 340px;
        height: 370px;
    }

    .introh1 {
        font-size: 21px;
    }

    .introp {
        font-size: 14px;
        line-height: 24px;
    }

    .placeicon {
        width: 50px;
        height: 50px;
    }

    button {
        width: 90px;
        font-size: 10px;
    }

}

@media screen and (max-width:350px) {

    .placeimg {
        width: 260px;
        height: 290px;
    }

    .introh1 {
        font-size: 19px;
    }

    .introp {
        font-size: 13px;
        line-height: 22px;
    }

    .placeicon {
        width: 45px;
        height: 45px;
    }

    button {
        width: 80px;
        font-size: 9px;
    }

}