.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    border: none;
    border-radius: 10px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    font-family: 'Poppins';
    padding: 10px;
}

.row1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.row3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.row4 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.city {
    border: none;
    border-radius: 10px;
    background-color: #FFBC80;
}

.cityimg {
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 10px;
}

.cityh1 {
    color: #E05D5D;
    font-family: 'Epilogue';
    font-weight: 400px;
    padding-left: 20px;
}

.cityp {
    width: 350px;
    font-size: 20px;
    color: #FFF8E5;
    font-family: 'Epilogue';
    line-height: 1.3;
    padding-left: 20px;
}

@media screen and (max-width: 800px) {

    .row1 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .row2 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .row3 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .row4 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .city {
        margin-bottom: 50px;
    }

}

@media screen and (max-width:1200px) {

    .city {
        width: 270px;
    }

    .cityimg {
        width: 270px;
        height: 200px;
    }

    .cityh1 {
        font-size: 20px;
    }

    .cityp {
        font-size: 15px;
        width: 250px;
    }
}

@media screen and (max-width:480px) {

    #title {
        width: 150px;
        font-size: 15px;
        padding: 5px;
    }
}

@media screen and (max-width:350px) {

    .city {
        width: 230px;
    }

    .cityimg {
        width: 230px;
        height: 160px;
    }

    .cityh1 {
        font-size: 18px;
    }

    .cityp {
        width: 200px;
        font-size: 13px;
    }
}