.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    border: none;
    border-radius: 10px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    font-family: 'Poppins';
    padding: 10px;
}

.swkevent {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    display: none;
}

.swkevent:nth-child(1) {
    display: flex;
}

#kchfesimg {
    width: 1000px;
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

#kchfesimg1,
#kchfesimg2 {
    width: 480px;
    margin-top: 15px;
}

.eventtitle {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

.intro {
    width: 1000px;
    padding-bottom: 30px;
    border-bottom: 3px solid #FC8019;
    line-height: 30px;
}

#rainforest {
    text-align: center;
}

#rainforestimg,
#rainforestimg1 {
    width: 1000px;
    margin-bottom: 15px;
}

#borneoimg {
    width: 1000px;
}

#borneoimg1,
#borneoimg2 {
    width: 480px;
    margin-top: 15px;
}

#gawaiimg1,
#gawaiimg2 {
    width: 480px;
}

#load {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 10px 30px;
    font-size: 17px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    cursor: pointer;
}

button:hover {
    background-color: #FC8019;
}


@media screen and (max-width:1200px) {

    .swkevent {
        width: 700px;
        margin: auto;
    }

    #kchfesimg {
        width: 700px;
    }

    .imgbox {
        width: 700px;
    }

    #kchfesimg1,
    #kchfesimg2 {
        width: 320px;
    }

    .eventtitle {
        margin: 40px 0px;
    }

    .intro {
        width: 700px;
        padding-bottom: 30px;
        line-height: 30px;
    }

    #rainforest {
        text-align: center;
    }

    #rainforestimg,
    #rainforestimg1 {
        width: 700px;
    }

    #rainforestimg1 {
        height: 600px;
    }

    #borneoimg {
        width: 700px;
    }

    #borneoimg1,
    #borneoimg2 {
        width: 320px;
    }

    #gawaiimg1,
    #gawaiimg2 {
        width: 320px;
    }
}

@media screen and (max-width: 800px) {


    .swkevent {
        width: 550px;
        margin: auto;
    }

    #kchfesimg {
        width: 550px;
    }

    .imgbox {
        width: 550px;
    }

    #kchfesimg1,
    #kchfesimg2 {
        width: 260px;
    }

    .eventtitle {
        margin: 30px 0px;
    }

    .intro {
        width: 550px;
        line-height: 25px;
        font-size: 14px;
    }

    #rainforest {
        display: flex;
        flex-direction: column;
    }

    #rainforestimg,
    #rainforestimg1 {
        width: 550px;
    }

    #rainforestimg1 {
        height: 480px;
    }

    #borneoimg {
        width: 550px;
    }

    #borneoimg1,
    #borneoimg2 {
        width: 260px;
    }

    #gawaiimg1,
    #gawaiimg2 {
        width: 260px;
    }

    button {
        width: 110px;
        padding: 8px 18px;
        font-size: 14px;
    }

}

@media screen and (max-width:600px) {

    .swkevent {
        width: 470px;
        margin: auto;
    }

    #kchfesimg {
        width: 470px;
    }

    .imgbox {
        width: 470px;
    }

    #kchfesimg1,
    #kchfesimg2 {
        width: 230px;
    }

    .eventtitle {
        margin: 25px 0px;
    }

    .intro {
        width: 470px;
        line-height: 25px;
        font-size: 12px;
    }

    #rainforestimg,
    #rainforestimg1 {
        width: 470px;
    }

    #rainforestimg1 {
        height: 400px;
    }

    #borneoimg {
        width: 470px;
    }

    #borneoimg1,
    #borneoimg2 {
        width: 230px;
    }

    #gawaiimg1,
    #gawaiimg2 {
        width: 230px;
    }
}

@media screen and (max-width:480px) {

    #title {
        width: 60px;
        font-size: 15px;
        padding: 5px;
    }

    .swkevent {
        width: 360px;
        margin: auto;
    }

    #kchfesimg {
        width: 360px;
    }

    .imgbox {
        width: 360px;
    }

    #kchfesimg1,
    #kchfesimg2 {
        width: 170px;
    }

    .eventtitle {
        font-size: 18px;
        margin: 20px 0px;
    }

    .intro {
        width: 360px;
        line-height: 23px;
    }

    #rainforestimg,
    #rainforestimg1 {
        width: 360px;
    }

    #rainforestimg1 {
        height: 300px;
    }

    #borneoimg {
        width: 360px;
    }

    #borneoimg1,
    #borneoimg2 {
        width: 170px;
    }

    #gawaiimg1,
    #gawaiimg2 {
        width: 170px;
    }

    button {
        width: 90px;
        font-size: 10px;
    }

}

@media screen and (max-width:350px) {

    .swkevent {
        width: 280px;
        margin: auto;
    }

    #kchfesimg {
        width: 280px;
    }

    .imgbox {
        width: 280px;
    }

    #kchfesimg1,
    #kchfesimg2 {
        width: 130px;
    }

    .eventtitle {
        font-size: 16px;
        margin: 20px 0px;
    }

    .intro {
        width: 280px;
        line-height: 23px;
    }

    #rainforestimg,
    #rainforestimg1 {
        width: 280px;
    }

    #rainforestimg1 {
        height: 240px;
    }

    #borneoimg {
        width: 280px;
    }

    #borneoimg1,
    #borneoimg2 {
        width: 130px;
    }

    #gawaiimg1,
    #gawaiimg2 {
        width: 130px;
    }

    button {
        width: 80px;
        font-size: 9px;
    }

}