.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    border: none;
    border-radius: 10px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    font-family: 'Poppins';
    padding: 10px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 50px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}


.foodimg {
    position: relative;
    width: 230px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
}

.cardimg:hover {
    opacity: 0.5;
}

.swiper-navBtn {
    background-color: #FC8019;
    border-radius: 10px;
    padding: 3px;
    color: #FFF8E5;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #FFF8E5;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 20px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #FFF8E5;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #FFF8E5;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 80px;
    }

    .swiper-navBtn {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .slide-content {
        margin: 0 70px;
    }

    .foodimg {
        width: 200px;
        height: 250px;
    }

}

@media screen and (max-width:600px) {

    .foodimg {
        width: 170px;
        height: 220px;
    }
}

@media screen and (max-width:500px) {

    .slide-content {
        margin: 0 150px;
    }
}

@media screen and (max-width:480px) {

    #title {
        width: 150px;
        font-size: 15px;
        padding: 5px;
    }

    .slide-content {
        margin: 0 80px;
    }

}

@media screen and (max-width:350px) {

    .slide-content {
        margin: 0 60px;
    }

    .foodimg {
        width: 140px;
        height: 190px;
    }

}