.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

#title {
    border: none;
    border-radius: 10px;
    background-color: #FC4F4F;
    color: #FFF8E5;
    font-family: 'Poppins';
    padding: 10px;
}

.food {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
}

#img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.intro {

    width: 700px;
}

#intro {
    font-size: 17px;
    line-height: 56px;
    font-family: 'Poppins';
    margin: 0;
}

@media screen and (max-width: 800px) {

    #img {
        width: 290px;
        height: 290px;
    }

    .intro {
        width: 400px;
    }

    #intro {
        font-size: 14px;
        line-height: 45px;
    }

}

@media screen and (max-width:600px) {

    .food {
        display: flex;
        flex-direction: column;
    }

    .img {
        margin-bottom: 30px;
    }

    #img {
        width: 240px;
        height: 240px;
    }

    .intro {
        width: 350px;
        margin: 0;
    }

    #intro {
        font-size: 12px;
        line-height: 36px;
    }
}

@media screen and (max-width:480px) {

    #title {
        width: 150px;
        font-size: 15px;
        padding: 5px;
    }

    .intro {
        width: 280px;
    }

    #intro {
        font-size: 12px;
        line-height: 30px;
    }

}

@media screen and (max-width:350px) {

    .intro {
        width: 250px;
    }

    .foodimg {
        width: 140px;
        height: 190px;
    }

}