body {
    margin: 0%;
}

#bgtop {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: left;
    padding-top: 20px;

}

.logo h1 {
    padding-left: 5px;
    margin-bottom: 0%;
    margin-top: 40px;
}

.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu a {
    padding: 15px;
}

.menu a:hover {
    background-color: white;
    color: blue;
    border: none;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    padding-left: 30px;
}

.sidebar a {
    padding: 20px;
}

.sidebar a:hover {
    background-color: rgb(130, 184, 255);
    border: none;
    border-radius: 50%;
}

.sideicon {
    width: 13px;
}

#button1 {
    position: relative;
}

#get {
    position: absolute;
    bottom: 21px;
    left: 40px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.content {
    grid-area: content;
    padding-top: 100px;
    line-height: 1.2;
    color: #4D4B5E;
}

#line1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
}

.line2 {
    font-size: 65px;
    font-family: 'Arimo', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.line3 {
    font-family: 'Roboto', sans-serif;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
}

#phone {
    height: 570px;
}


.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mouse {
    background-color: white;
    border: none;
    border-radius: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}


.container1 {
    display: grid;
    grid-template-areas:
        'sidebar logo logo menu menu menu'
        'sidebar content content image image image'
        'footer footer footer footer footer footer';
}

.image2 {
    grid-area: image2;
    margin-top: 50px;
    padding-left: 50px;
}

.content2 {
    grid-area: content2;
    line-height: 1.5;
    color: #4D4B5E;
}

#button2 {
    position: relative;
}

#rec2 {
    width: 150px;
    height: 49px;
}

#see {
    position: absolute;
    bottom: 21px;
    left: 37px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#line4 {
    color: blue;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

#whobg {
    position: absolute;
    right: 0;

    z-index: -1;
}

.container2 {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        'image2 image2 image2 content2 content2 content2';

}