body {
    margin: 0%;
}

#bgtop {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: left;
    padding-top: 20px;

}

.logo h1 {
    padding-left: 5px;
    margin-bottom: 0%;
    margin-top: 40px;
}

.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu a {
    padding: 15px;
}

.menu a:hover {
    background-color: white;
    color: blue;
    border: none;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    padding-left: 30px;
}

.sidebar a {
    padding: 20px;
}

.sidebar a:hover {
    background-color: rgb(130, 184, 255);
    border: none;
    border-radius: 50%;
}

.sideicon {
    width: 13px;
}

#button1 {
    position: relative;
}

#get {
    position: absolute;
    bottom: 21px;
    left: 40px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.content {
    grid-area: content;
    padding-top: 100px;
    line-height: 1.2;
    color: #4D4B5E;
}

#line1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-bottom: 5px;
}

.line2 {
    font-size: 65px;
    font-family: 'Arimo', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.line3 {
    font-family: 'Roboto', sans-serif;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
}

#phone {
    height: 570px;
}


.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mouse {
    background-color: white;
    border: none;
    border-radius: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}


.container1 {
    display: grid;
    grid-template-areas:
        'sidebar logo logo menu menu menu'
        'sidebar content content image image image'
        'footer footer footer footer footer footer';
}

.image2 {
    grid-area: image2;
    margin-top: 50px;
    padding-left: 50px;
}

.content2 {
    grid-area: content2;
    line-height: 1.5;
    color: #4D4B5E;
}

#button2 {
    position: relative;
}

#rec2 {
    width: 150px;
    height: 49px;
}

#see {
    position: absolute;
    bottom: 21px;
    left: 37px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#line4 {
    color: blue;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

#whobg {
    position: absolute;
    right: 0;
}

.container2 {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        'image2 image2 image2 content2 content2 content2';

}

.content3 {
    grid-area: content3;
    margin-left: 140px;
    color: #4D4B5E;
}

#whatbg3 {
    position: absolute;
    z-index: -1;
}

.process {
    grid-area: process;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    margin-left: 60px;
    margin-bottom: 100px;
    background-color: white;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}

#processimg {
    padding-left: 100px;
}

#p {
    margin-bottom: 30px;
}

#p2 {
    margin-bottom: 70px;
}

#p3 {
    margin-bottom: 30px;
}

.button3 {
    position: relative;
    display: flex;
    justify-content: right;
}

.rec3 {

    height: 25px;
    display: flex;
    justify-content: right;
}

.seemore {
    position: absolute;
    top: 7px;
    right: 30px;
    color: white;
    font-size: 10px;

}

#line5 {
    color: blue;
    font-size: 20px;
}

.socialmedia2 {
    grid-area: socialmedia2;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}

#socialimg2 {
    padding-left: 100px;
}

.gadget {
    grid-area: gadget;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}

#gadgetimg {
    padding-left: 100px;
}

.analysis {
    grid-area: analysis;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    margin-left: 60px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}

#analysisimg {
    padding-left: 100px;
}

.socialmedia {
    grid-area: socialmedia;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}

#socialimg {
    padding-left: 100px;
}

.computer {
    grid-area: computer;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 3px 3px #EEEDF9;
}

#computerimg {
    padding-left: 100px;
}

.container3 {

    display: grid;
    grid-template-areas:
        ' content3 content3 content3 content3 content3 content3'
        'process process socialmedia2 socialmedia2 gadget gadget'
        'analysis analysis socialmedia socialmedia computer computer';
    gap: 30px;
    padding: 50px;
}

.title {
    grid-area: title;
    color: blue;
    font-size: 20px;
}

.header {
    grid-area: header;
    color: #4D4B5E;
}

.pack1 {
    grid-area: pack1;
    width: 300px;
    height: 350px;
    margin-left: 100px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    line-height: 1.5;
    color: #4D4B5E;

}

.pack2 {
    grid-area: pack2;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    line-height: 1.5;
    color: #4D4B5E;
}

.pack3 {
    grid-area: pack3;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    line-height: 1.5;
    color: #4D4B5E;
}

.price {
    color: blue;
    font-family: 'Poppins', sans-serif;
}

.container4 {
    background-color: #E8E3FE;
    padding: 50px;
    display: grid;
    grid-template-areas:
        'title title title title title title'
        'header header header header header header'
        'pack1 pack1 pack2 pack2 pack3 pack3';
    text-align: center;
    font-family: 'Roboto', sans-serif;
}