.box {
    display: flex;


}

.box div {

    flex: 1;
}



#img {

    margin-top: 100px;
    margin-left: -10px;

    margin-bottom: 0px;

    background-image: url("../img/home3.jpg");
    background-size: 700px 550px;
    background-repeat: no-repeat;

}

.h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.h2 {
    font-family: 'Poppins', sans-serif;
}

.p {
    font-family: 'Poppins', sans-serif;
}

#word {
    margin: 10%;
    margin-left: 100px;
    margin-top: 150px;
    margin-right: -8px;

    padding-right: 50px;

    height: 50%;
    width: 50px;
    border: 8px solid black;
    border-right: 0px;


    text-align: right;
    font-size: 17px;
}