.box {
    display: flex;


}

.box div {
    flex: 1;

}

body {
    margin: 0;
}

#img {

    margin-top: 100px;

    background-image: url("../img/laptop.jpg");
    background-size: 700px 550px;
    background-repeat: no-repeat;

}

.h1 {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    width: 650px;
}

.h2 {
    font-family: 'Poppins', sans-serif;
    width: 650px;
}

.p {
    font-family: 'Poppins', sans-serif;
    width: 650px;
}

#word {

    margin: 10%;
    margin-left: 0;
    margin-top: 150px;
    margin-right: 0;
    border: 8px solid black;

    border-right: 0px;

    text-align: right;
}