#eg1 {
    margin: 50px;
    border: 5px solid #f9f99e;
    padding: 30px;
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#eg2 {
    margin: 10px;
    border: 12px solid #d79ef9;
    padding: 25px;
    background: url("../img/logo.jpg");
    background-size: 100px 100px;

}