.contact-left {
    background-image: url("../img/marvel_contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    background-position: center;
    width: 50%;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

p,
h2 {
    opacity: 1;
}

.form-label,
.form-select,
.btn {
    font-family: 'Roboto Condensed', sans-serif;
}

.contact-right {
    font-family: 'Roboto Condensed', sans-serif;

}

.mail {
    color: rgb(0, 0, 120);
}