.title {
    font-family: 'Oswald', sans-serif;
    margin-left: 40px;
}

.blank {
    background-color: black;
    height: 50px;
}

.phaseimg {
    width: 250px;
}

.date {
    width: 250px;
    font-family: 'Roboto Condensed', sans-serif;
}

.text {
    width: 250px;
    font-family: 'Oswald', sans-serif;
}

.phaseimg:hover {
    width: 260px;
}

.phasebutton {
    border: none;
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    min-width: 80px;
    text-decoration: none;
}

@media screen and (max-width:770px) {
    .title {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (max-width:600px) {
    .moviesmenu {
        flex-direction: column;

    }
}