.title {
    font-family: 'Oswald', sans-serif;
}

.blank {
    background-color: black;
    height: 50px;
}

.moviesmenu {
    background-color: black;
}

.phaseimg {
    width: 250px;
}

.date {
    width: 250px;
    font-family: 'Roboto Condensed', sans-serif;
}

.text {
    width: 250px;
    font-family: 'Oswald', sans-serif;
}

.phasebtn a {
    color: #FFFFFF;
}

.phasebtn p {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.phasebtn a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.phaseimg:hover {
    width: 260px;
}