.blank {
    background-color: black;
    height: 50px;
}

.title {
    font-family: 'Oswald', sans-serif;
}

.date {
    width: 250px;
    font-family: 'Roboto Condensed', sans-serif;
}

.text {
    width: 250px;
    font-family: 'Oswald', sans-serif;
}

.comicimg:hover {
    width: 260px;
}

.games {
    background-color: black;
}

.gamesimg:hover {
    width: 260px;
}

.gallerybutton {
    border: none;
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    min-width: 80px;
    text-decoration: none;
}

.gallerybutton p:hover {
    color: rgb(196, 32, 32);
}