.title p,
.title h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.movie {
    box-shadow: 5px 5px 0px 0px #c4c0c0;
    border-radius: 10px;
}

.img {
    width: 250px;
}

.actor,
.description {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}


.name {
    font-family: 'Oswald', sans-serif;
}

.date,
.director {
    font-family: 'Oswald', sans-serif;
}

.actorname,
.descriptiontext {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.button {
    text-align: right;
}

.youtubebtn {
    background-color: #000000;
    border-radius: 10px;
    padding: 5px 15px;
}

@media screen and (max-width:1000px) {
    iframe {
        width: 450px;
        height: 300px;
    }

    .moviedetail {
        flex-direction: column;
    }

    .moviedetail2 {
        flex-direction: column-reverse;
    }

    .movieimg {
        text-align: center;
    }
}

@media screen and (max-width:800px) {

    descriptiontext {
        width: 200px;
    }

    .date {
        width: 100px;
    }

}

@media screen and (max-width:500px) {
    iframe {
        width: 350px;
        height: 300px;
    }

    .detail {
        min-width: 180px;
        padding-right: 10px;
    }

    .name {
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (max-width:400px) {
    iframe {
        width: 280px;
        height: 280px;
    }

    .main {
        width: 200px;
    }
}

@media screen and (max-width:350px) {
    iframe {
        width: 240px;
        height: 240px;
    }
}